.add-button{
    width: 200px;
    height: 60px;
    background: linear-gradient(90deg,rgb(7, 212, 144), rgb(7, 109, 139));
    display: flex;
    align-items: center;
    justify-content: center;
}
.schooladd{
    width: 190px;
    height: 56px;
    background-color: rgb(24, 231, 214);
    color: white;
    &:hover{
        cursor: pointer;
        color: black;
        opacity: 0.8;
    }
}
.category-inputs{
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
    background-color: rgba(1, 117, 102, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
}
.info{ 
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    
}
.brder{
    border: 3px solid rgb(10, 100, 122);
}
.deletebutton{
    width: 99px !important;
    height: 18px!important;
    border: 0.5px solid blue !important;
    color: white;
}

